{% extends 'base.html' %}
{% load static %}
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <div class="container" align="center">
        <br><br>
        <h3>Welcome to Books App!</h3>
        <br><br>
        <p>Here you will find all your books.</p>
        <p>If you don't see the book you need, feel free to add one yourself or import from Google Books.</p>
        <br><br>
        <p>Enjoy :)</p>
    </div>
{% endblock %}